body {
    text-align: center;
}

.line {
    height: 6px;
    width: 70px;
    margin: 8px auto;
    background-color: deepskyblue;
}

img {
    transition: transform .10s;
    height: 500px;
}

img:hover {
    transform: scale(.9);
}

#App {
    height: 800px;
    width: 100%;
}

#Game {
    height: 800px;
    width: 100%;
}

#ChatBot {
    height: 800px;
    width: 100%;
}
